<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layouts/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>
<table class="table">
    <thead>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand" th:text="${user.email} + ' with roles ' + ${user.roles}"></span>
            <ul class="navbar-nav justify-content-right">
                <li class="nav-item mr-1">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
           </ul>
    </div>
</nav>
    </thead>
    <tbody>
    <tr class="row">
        <td class="col-2 bg-white">

<!--        <div class="d-grid gap-2">-->
<!--                    <a class="btn btn-primary btn-lg btn-block text-white text-left text-decoration-none" th:text="${user.getRoles()}" role="button"></a>-->
            <!--Боковая панель-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col bg-white">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a href="/admin" class="nav-link active">Admin</a>
                            </li>
                            <li class="nav-item">
                                <a href="/user" class="nav-link">User</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </td>
        <td class="col-10 bg-light">
        <H1>Admin panel</H1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Users Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/add">New user</a>
            </li>
        </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="usersTable" role="tabpanel" aria-labelledby="home-tab">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Firstname</th>
                                <th scope="col">Lastname</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role(s)</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                            <tbody>
                                <div th:each="user : ${allUsers}">
                                    <tr>
                                        <th scope="row">
                                            <span th:text="${user.id}">VALUE</span>
                                        </th>
                                            <td>
                                                <span th:text="${user.name}">VALUE</span>
                                            </td>
                                            <td>
                                                <span th:text="${user.surName}">VALUE</span>
                                            </td>
                                            <td>
                                                <span th:text="${user.age}">VALUE</span>
                                            </td>
                                            <td>
                                                <span th:text="${user.email}">VALUE</span>
                                            </td>
                                             <td>
                                                <div th:each="role : ${user.roles}"
                                                th:text="${role.role}">
                                                </div>
                                            </td>
                                            <td>
<!--                                                <a class="btn btn-primary btn-sm btn-block text-white text-left text-decoration-none text-center btn-info data-toggle=modal data-target=#editWindow" role="button">Edit</a>-->
                                                <!-- Button trigger modal -->
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-primary btn-sm text-white text-decoration-none text-center btn-info" data-toggle="modal" th:data-target="${'#editModal' + user.id}">
                                                    Edit
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" th:id="${'editModal' + user.id}" tabindex="-1" role="dialog"  th:aria-labelledby="${'editModal' + user.id}" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div style="text-align: center;">
                                                                    <div class="row justify-content-center align-items-center">
                                                                        <form th:method="PATCH" th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}" th:id="${'editForm + user.id'}">

                                                                <div>
                                                                    <label for="id" class="form-label">ID</label>
                                                                    <input type="hidden" th:value="${id}" th:attr ="name='id'"/>
                                                                    <input type="id" class="form-control" th:value="${user.id}" id="id" readonly/>
                                                                    <label for="name" class="form-label">First name</label>
                                                                    <input type="name" class="form-control" th:value="${user.name}" id="name"/>
                                                                    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
                                                                    <label for="surname" class="form-label">Last name</label>
                                                                    <input type="surname" class="form-control" th:value="${user.surName}" id="surname"/>
                                                                    <div style="color:red" th:if="${#fields.hasErrors('surName')}" th:errors="*{surName}">Surname error</div>
                                                                    <label for="email" class="form-label">Email</label>
                                                                    <input type="email" class="form-control"  th:value="${user.email}" id="email">
                                                                    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
                                                                    <label for="age" class="form-label">Age</label>
                                                                    <input type="age" class="form-control" th:value="${user.age}" id="age"/>
                                                                    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
                                                                    <label for="password" class="form-label">Password:</label>
                                                                    <input type="password" class="form-control" th:value="${user.password}" id="password"/>
                                                                    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
                                                                    <div>
<!--                                                                        <p>Choose role: </p>-->
<!--                                                                        <select name="rolesSelected" multiple required size="6">-->
<!--                                                                            <div  th:each="role : ${allRoles}">-->
<!--                                                                                <option th:text="${role.role}" th:value="${role.id}" name="roles"/>-->
<!--                                                                            </div>-->
<!--                                                                        </select>-->

                                                                        <label for="editRole">Role</label>
                                                                        <select class="form-select w-100" size="2" id="editRole"
                                                                                name="rolesSelected" multiple>
                                                                            <option th:each="role : ${roles}"
                                                                                    th:text="${role.role}" th:value="${role.id}"></option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--                                                                        <button type="button" class="btn btn-primary" th:form="${'editForm' + user.id}">Edit</button>-->
                                                                        <input type="submit" th:form="${'editForm' + user.id}" class="btn btn-primary" value="Edit"/>
                                                                    </div>
<!--                                                                    <input type="submit" value="Update user">-->
<!--                                                                    <br>-->
<!--                                                                    <a th:href="@{/logout}">Logout</a>-->
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <a class="btn btn-primary btn-sm btn-block text-white text-left text-decoration-none text-center btn-danger" role="button">Delete</a>
                                            </td>
                                    </tr>
                                </div>
                            </tbody>
                    </table>
                </div>
                        <!/span-->
                </div>
                <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="profile-tab">...</div>
            </div>
<!--    </div>-->
        </td>
    </tr>

    </tbody>
</br>
</hr>
</table>

<div class="modal" id="editWindow" tabindex="-1" role="dialog" aria-labelledby="editWindowLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editWindowLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--<a href="/admin/add">Create new user</a>-->
<!--<br>-->
<!--<a th:href="@{/logout}">Logout</a>-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>